---
import Layout from '@/layouts/Layout.astro';
import MainCarousel from '@/components/svelte/MainCarousel.svelte';
import Container from '@/components/Container.astro';
import Section from "@/components/Section.astro";
import TabsPreview from '@/components/svelte/TabsPreview.svelte';

import type { ITabPreview } from '@/types/controls';

const carouselImagesImports = import.meta.glob("@/assets/carousel/*.(png|jpeg|jpg)", { eager: true });

const imagesAttrs = Object.entries(carouselImagesImports)
	.map(([, module]) => {
		// @ts-ignore
		const { src } = module.default;

		return { src, alt: src };
	});

const tabs: ITabPreview[] = await Promise.all([
	{
		id: "oktyabrina",
		title: "Октябрина",
		content: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas libero aperiam quos dicta distinctio fugit quis incidunt fuga. Odit incidunt dicta illo tenetur aspernatur dolorum quos in facere beatae laborum.",
		previewName: "ficko",
	},
	{
		id: "zarina",
		title: "Зарина",
		previewName: "ficko",
	}
].map(async ({ id, ...tabPreview }) =>
	({
		...tabPreview,
		id,
		previewSrc: (await import(`../assets/tabs-preview/${id}.png?url`)).default
	})
));
---

<Layout title="testing">
	<MainCarousel {imagesAttrs} client:load />
	<Container>
		<Section>
			<TabsPreview {tabs} client:load />			
		</Section>
	</Container>
</Layout>