---
import { normalizePath } from "@/utils/url";

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    activeClass?: string;
}

const { class: className, activeClass, ...props } = Astro.props;
const { href } = props;

const currentPath = normalizePath(Astro.url.pathname);

const isLinkActive = currentPath.startsWith(String(href));

const classes = [
    "link",
    className,
    isLinkActive && activeClass
];
---

<a {...props} class:list={classes}>
    <slot />
</a>

<style lang="scss">
    .link {
        color: unset;
        text-decoration: none;
        cursor: pointer;
    }
</style>